doctype html
html
    head
        title FarziWEB  &copy
        style
            include ../static/style.css
            include ../static/form.css
    body
        header.head 
            nav.navbar 
                div.logo 
                    img(src="/static/img/logo.png", alt="logo", id="logo")
                ul 
                    li #[a(href="/") Home]
                    li #[a(href="/") About Us]
                    li #[a(href="/") E-Learning]
                    li #[a(href="/form") Enrollment Form]
        section.formz 
            div.conatainer
                h1 Come On! Enroll your Free Class Now
                form(action="/contact", method="post", class="form")
                    input(type="text", name="name" , placeholder="Enter your name" , id="naam" , class="info")  
                    input(type="number", name="phone" , placeholder="Enter your phone number" , id="num" , class="info")  
                    input(type="email", name="email" , placeholder="Enter your email" , id="email" , class="info")  
                    input(type="address", name="address" , placeholder="Enter your address" , id="address" , class="info")  
                    input(type="text", name="more" , placeholder="Enter your more info" , id="more" , class="info")  
                    button.btn 
                        |Sumbit Now 