doctype html
html
    head
        title FarziWEB  &copy
        style
            include ../static/style.css
            include ../static/responsive.css
    body
        header.head 
            nav.navbar 
                div.logo 
                    img(src="/static/img/logo.png", alt="logo", id="logo")
                ul 
                    li #[a(href="/") Home]
                    li #[a(href="/") About Us]
                    li #[a(href="/") E-Learning]
                    li #[a(href="/form") Enrollment Form]
        
            section.mid 
                div.midL
                    h2 The Future of Education is Here 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, neque.
                    div.midbtn
                        button.btn1 
                            a(href="https://www.youtube.com/@callofdutymobile" , target="_blank") Subscribe
                        button.btn2
                            a(href="https://youtu.be/dQw4w9WgXcQ" , target="_blank") Watch Video
                        button.btn3
                            a(href="https://www.patreon.com/" , target="_blank") Support Us           
                div.midR
                    img(src="/static/img/img1.jpeg", alt="mac", id="mac")
        

        section.low 
            article.low1 
                div.low1txt
                    h2 Book Avaible Online
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus esse dolor, ullam quae saepe mollitia quod iste repudiandae porro velit impedit vel, odit tenetur, nostrum aperiam magni dolores ex optio atque. Vitae, maiores architecto! Repellat, ea dolore voluptas voluptatem nobis tempore exercitationem iste. Atque reprehenderit animi rem aut excepturi a accusantium sequi provident, quae fuga quod eveniet voluptas! Placeat, deleniti.
                div.low1img 
                    img(src="/static/img/books.jpg", alt="book", id="book")
            
            
            article.low2 
                div.low2txt
                    h2 Distance Learning
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus esse dolor, ullam quae saepe mollitia quod iste repudiandae porro velit impedit vel, odit tenetur, nostrum aperiam magni dolores ex optio atque. Vitae, maiores architecto! Repellat, ea dolore voluptas voluptatem nobis tempore exercitationem iste. Atque reprehenderit animi rem aut excepturi a accusantium sequi provident, quae fuga quod eveniet voluptas! Placeat, deleniti.
                div.low2img 
                    img(src="/static/img/dl.png", alt="dl", id="dl")
            
            
            
            article.low3 
                div.low3txt
                    h2 E-Learning
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus esse dolor, ullam quae saepe mollitia quod iste repudiandae porro velit impedit vel, odit tenetur, nostrum aperiam magni dolores ex optio atque. Vitae, maiores architecto! Repellat, ea dolore voluptas voluptatem nobis tempore exercitationem iste. Atque reprehenderit animi rem aut excepturi a accusantium sequi provident, quae fuga quod eveniet voluptas! Placeat, deleniti.
                div.low3img 
                    img(src="/static/img/el.jpg", alt="el", id='el')
        footer.foot 
            p Brought to you by DUDE1000 | Copyright &copy | All Rights Reserverd 2023
        
            

            
            
             
                
    